*.sqlite3
*.db

project/settings.py  # Ou o arquivo que contém SECRET_KEY, se for local
.env  # Se usar variáveis de ambiente

.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.log

staticfiles/
media/

.vscode/
.idea/
*.swp
*.swo

.DS_Store