{% extends "base.html" %}

{% block title %}Cadastro de Funcionário{% endblock %}

{% block content %}
<h1>Cadastro de Funcionário</h1>
<form method="post" style="max-width: 500px;">
    {% csrf_token %}
    <div>
        <label for="id_username">Usuário (login):</label><br>
        <input type="text" id="id_username" name="username" required />
    </div>
    <div style="margin-top:10px;">
        <label for="id_password1">Senha:</label><br>
        <input type="password" id="id_password1" name="password1" required />
    </div>
    <div style="margin-top:10px;">
        <label for="id_password2">Confirme a Senha:</label><br>
        <input type="password" id="id_password2" name="password2" required />
    </div>
    <div style="margin-top:10px;">
        <label for="id_nome">Nome Completo:</label><br>
        <input type="text" id="id_nome" name="nome" required />
    </div>
    <div style="margin-top:10px;">
        <label for="id_funcao">Função:</label><br>
        <input type="text" id="id_funcao" name="funcao" required />
    </div>
    <div style="margin-top:10px;">
        <label for="id_identificacao">Identificação:</label><br>
        <input type="text" id="id_identificacao" name="identificacao" required />
    </div>
    <button type="submit" class="btn" style="margin-top: 15px;">Cadastrar</button>
</form>
<p style="margin-top: 10px;">
    Já tem conta? <a href="{% url 'login_funcionario' %}">Faça login aqui</a>.
</p>
{% endblock %}